<!DOCTYPE html>
<html>

<head>
  <script src="{{url_for('static', filename='../static/vendor/js/jquery-3.3.1.slim.min.js') }}" defer></script>

  <script src="{{url_for('static', filename='../static/vendor/js/popper.min.js') }}" async></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{url_for('static', filename='../static/vendor/css/bootstrap.min.css') }}">
  <script src="{{url_for('static', filename='../static/vendor/js/bootstrap.min.js') }}" defer></script>
  <title>ООО "Галеон"</title>
  <link rel="stylesheet" href="{{url_for('static', filename='../static/vendor/css/style.css') }}">

</head>

<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../"></a>
      <a class="navbar-brand" href="../">
        <img src="../static/img/logo.svg" width="128" height="128" alt="">
        ГАЛЕОН</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item-active">
            <a class="nav-link" href="#">Контакты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products">Товары</a>
          </li>
                </ul>
            {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
    <a class="navbar-brand pull-right justify-content-end" id="navbarSupportedContent" href="/logout">{{ current_user.name }}</a>
                </li>
                </ul>
{% else %}
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="register"><span class="fas fa-user"></span> Зарегистрироваться</a>

      <li class="nav-item">
        <a class="nav-link" href="login"><span class="fas fa-sign-in-alt"></span> Войти</a>
      </li>
    </ul>
{% endif %}
      </div>
  </nav>
<div class="container">
{% block content %}
<h1>Добавление Продукта</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
</div>
</div>
</body>

</html>